body,html {
    marging:0;
    padding:0;
}

#wrapper{
    marging: 10px;
    padding: 10px;
}

#header{
    outline: 1px #096 solid;
    height: 125px;
    margin: 0 0 10px 0;
}

#left {
    outline: 1px #096 solid;
    height:500px;
    float:left;
    width: 160px;
}

#main {
    outline: 1px #096 solid;
    margin:0 170px 10px 170px;
    height:500px;
    width: 630px;
}

#right {
    outline: 1px #096 solid;
    float:right;
    height:500px;
    width: 160px;
}

#footer {
    outline: 1px #096 solid;
    height:100px;
}